html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'EB Garamond', serif;
  font-size: 14pt;
  color: #1f1f1f;
  background: #e1dad1;
  line-height: 1.2;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

a:hover {
  color: #c64630;
}

.name {
  font-weight: bold;
  font-size: 150%;
  line-height: 1.2;
  letter-spacing: 1.5px;
  display: inline-block;
}

.details {
  font-style: italic;
}

.number {
  font-style: italic;
}

.list {
  text-indent: 20px;
  line-height: 1.5;
}

.more {
  line-height: 1.5;
}

.bullet {
  font-size: 50%;
}

/* Underline Reveal */
.hvr-underline-reveal {
  text-indent: 0px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0) translateY(-2px);
  transform: translateZ(0) translateY(-2px);
  position: relative;
  overflow: hidden;
}

.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1f1f1f;
  height: 2px;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-family: 'EB Garamond', seif;
  opacity: 0.4;
}
