html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 14pt;
  color: #161a1d;
  background: #f5f3f4;
  line-height: 1.2;
}

a {
  color: inherit;
  font-weight: 100;
  text-decoration: none;
  position: relative;
}

a:hover {
  color: #a4161a;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logo {
  width: 200px;
  margin-bottom: 1em;
}

#wrapper #more {
  margin-top: 1em;
}

.name {
  font-weight: normal;
  font-size: 150%;
  line-height: 1.2;
  letter-spacing: 1px;
  display: inline-block;
}

.highlighted {
  color: #a4161a;
}

.details {
  font-style: italic;
}

.more {
  line-height: 2.5;
}

/* Underline Reveal */
.hvr-underline-reveal {
  text-indent: 0px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0) translateY(-2px);
  transform: translateZ(0) translateY(-2px);
  position: relative;
  overflow: hidden;
}

.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ba181b;
  height: 2px;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-family: 'Work Sans', sans-serif;
  opacity: 0.4;
}
